<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Lista ofert</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <section layout:fragment="content" >
            <!--Lab10 zad 3-->
            <!--<span class="text-primary" th:text="${carModel2}"></span> <br>-->
<!--            <span class="text-primary" th:text="${getManufacturer2}"></span> 
            <br>-->
            <!--<p th:each="cm : ${carManufacturers}" th:text="${cm.name}"></p>-->
            <!--Lab11 zad 1-->
            <p th:each="bs : ${bodyStyle}" th:text="${bs.name}"></p> <br>
            <p th:each="ft : ${fuelType}" th:text="${ft.name}"></p> <br>
            <p th:each="ca : ${carModel}" th:text="${ca.name}"></p> <br>
             
        </section>
    </body>
</html>
